<%- include('partials/head'); -%>

<main>

    <h1 class="title">Create Job</h1>
    
    <div class="createjob">
    
        <p class="job-title">Job title</p>
        <input class="input-job" type="text" name="job-title" placeholder="Job">
    
        <p class="website">Website</p>
        <input class="input-website" type="text" name="website" placeholder="http://MyWebsite.be">
    
        <h2 class="job-contact">Employer's contact</h2>

        <p class="name-employer">Name</p>
        <input class="input-nameE" type="text" name="name-employer" placeholder="Name">

        <p class="email-contact">Email of Contact</p>
        <input class="input-email-contact" type="text" name="email-contact" placeholder="email@hotmail.be">

        <p class="phone-number">Phone Number</p>
        <input class="input-phone" type="number" name="phone-number" placeholder="+32(0)484.32.32.32">

        <p class="address">Address</p>
        <input class="input-address" type="text" name="address" placeholder="Address">

        <div class="origin-status">
            <div class="origin">
                <p>origin</p>
                <ul>
                    <li>Candidature spontanée</li>
                    <li>Job offer</li>
                </ul>
            </div>

            <div class="status">
                <p>Status</p>
                <ul>
                    <li>Interested</li>
                    <li>CV sent</li>
                    <li>Negative</li>
                    <li>Interview</li>
                </ul>
            </div>
        </div>

            <p class="comments">Comments</p>
            <textarea class="input-comments" type="text" name="comments" placeholder="Enter your comment here ..."></textarea>

    </div>


</main>