<%- include('partials/head'); -%>

<main>
  <h1 class="title">Dashboard</h1>
  <h2><a href="/createjob">Create a New Job</a></h2>

  <!-- <div class="filter-order">
    <div class="filter">
      <ul>
        <span>Filter</span>
        <li>Status</li>
        <li>Date</li>
      </ul>
    </div>

    <div class="order">
      <ul>
        <span>Order</span>
        <li>Asc.</li>
        <li>Desc.</li>
      </ul>
    </div>
  </div> -->

  <div class="container-card">
    <% jobs.forEach(job => { %>
    <div class="card-job">
      <h1><%= job.jobtitle %></h1>
      <p><%= job.jobcompany %></p>
      <div class="statusJob"><%= job.status %></div>
      <a href="/job">See more</a>
    </div>
    <% }); %>
  </div>
</main>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    // declaration status card

    const statusElement = document.querySelectorAll(".statusJob");

    statusElement.forEach((element) => {
      if (element.textContent === "Interview") {
        element.classList.add("status-interview");
      } else if (element.textContent === "CV sent") {
        element.classList.add("status-CVsent");
      } else if (element.textContent === "Interested") {
        element.classList.add("status-interested");
      } else if (element.textContent === "Negative") {
        element.classList.add("status-negative");
      }
    });
  });
</script>
