<%- include('partials/head'); -%>

    <main>
        <h1 class="title-login">Hello, <span class="welcome">Welcome !</span></h1>
        <img src="" alt="">

        <div class="input-login">
            <p class="email">email</p>
            <input class="input-email" type="text" placeholder="Enter your email">
            
            <p class="password">password</p>
            <input class="input-password" type="text" placeholder="Enter your password">

            <div class="btn-login">
                <p>login</p>
            </div>

            <p class="register">Not registered yet? <span class="red-register"><a href="/register">Register</a></span></p>
        </div>
    </main>