<%- include('partials/head'); -%>

<main>
    <h1 class="title">My profile</h1>
    <a class="link-dashboard" href="/dashboard">Return to Dashboard</a>

    <div class="img-info">
        <div class="grid-pdp">
            <img src="" alt="">
        </div>
        <div class="grid-info">
            <p>Full name : <%= user.firstname+' '+user.lastname %> </p>
            <p>Email : <%= user.email %> </p>
            <p>GitHub : <%= user.github %></p>

            <div class="curriculum">
                <input type="file" id="downloadCV" class="file-input" />
                <label for="downloadCV" class="file-label">Download C.V</label>
                <input type="file" id="updateCV" class="file-input" />
                <label for="updateCV" class="file-label">Update your C.V</label>
            </div>

            <div class="reset-password">
                <input type="file" id="resetPassword" class="file-input" />
                <label for="resetPassword" class="file-label">Reset password</label>
            </div>
              
        </div>
    </div>
</main>
